<h1>{{user.profile|capfirst}}</h1>
<a href = "{% url 'home' %}" >Home</a>
{% block content %}
    <div class = "update_profile_content">
      <form method="POST" >
        {% csrf_token %}
        {{u_form.as_p}}
        {{p_form.as_p}}
        {{a_form.as_p}}
        <div>
          <button type="submit">
            Update
          </button>
        </div>
      </form>
    </div>
{% endblock content %}
<p>Email: {{user.email}}</p>
<p>Nickname: {{user.profile.nickname}}</p>
{%for address in user.profile.home_address.all %}
<p>Address: {{address.street_addr}}</p>
<p>Apt / Suite / Unit: {{address.apt_suite_unit}}</p>
<p>City: {{address.city}}</p>
<p>State: {{address.state}}</p>
<p>Zipcode: {{address.zipcode}}</p>
{%endfor%}
<p>Credit Card Number: {{user.profile.creditcard.number}}</p>
