{% load static %}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet"  href="{% static 'css/rating.css' %}">
</head>
<div class="comments-title">
  <h1> Here are some comments for {{book.title}}</h1>
</div>

<body>
  <div>
    <ul>
      {% for comment in comments %}
        {% if book.id == comment.book.id %}
          <h3 class="book-reviews">{{book.title}}</h3>
            <p>Written By: {{comment.name}}</p>
            <p>{{comment.body}}</p>
            <p></p>
        {% endif %}
      {% endfor %}
      <a href="{%url 'write_comment' book.id%}">Write a Review</a>
    </ul>
  </div>
</body>

</html>
