{% load static %}

<!DOCTYPE html>
<html>
      <head>
        <title>GeekText</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/admin/css/book.css' %}">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
      </head>
<div class="logo">
	<h1>GeekText</h1>
</div>
<div class="topnav">
	<a href="{% url 'home' %}">Home</a>
	<a>Search</a>
	<a href="{% url 'item-list' %}">Shopping Cart</a>
	<a href="{% url 'all_wish_list'%}">Wish List</a>
	{% if user.is_authenticated %}
		<a href="{% url 'profile_logout' %}">Log out </a> | <a href = "{%url 'profile_detail' %}">{{ user.username }}</a>
	{% else %}
		<a href="{% url 'profile_login' %}">Log In </a> | <a href = "{% url 'profile_signup' %}" > Sign Up</a>
	{% endif %}
</div>

{% if book %}
<div>
  <h1>Write a review for {{book.title}}</h1>
  {% if user.is_authenticated %}
    <form method="post" class="col-md-4">
    <h3>Leave a Review</h3>
    {% csrf_token %}

    <div>
      <div class="row">
        <div class="form-group col-md-12">
          <label>Rating</label>
          {{ form.rating }}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Comment</label>
          {{ form.comment }}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="form-check col-md-9" style="float:left">
          {{ form.anonymous }}
          <label>Post anonymously?</label>
        </div>

      </div>
    </div>
  </form>

  {% else %}
  <div class="col-md-4">
    <h4>Must be logged in to review!</h4>
  </div>
  {% endif %}
{% endif %}
</html>
