{% load static %}
<!DOCTYPE html>
<html>
      <head>
        <title>GeekText</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/admin/css/book.css' %}">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
      </head>
      <div class="logo">
          <h1>GeekText</h1>
      </div>
      <div class="topnav">
	         <a href="{% url 'home' %}">Home</a>
	         <a>Search</a>
	         <a href="{% url 'item-list' %}">Shopping Cart</a>
	         <a href="{% url 'all_wish_list'%}">Wish List</a>
	         <a href="{% url 'profile_detail' %}">Log In | Sign Up</a>
      </div>
{% if book %}
<div>
  <div class="title">
    <h3>Write a review for {{book.title}}</h3>
  </div>
  {% if user.is_authenticated %}
    <!-- {% if purchased %} -->
    <div class="form">
      <form method="post" class="col-md-4">
        <h4>Leave a Review</h4>
        {% csrf_token %}

      <div>
        <div class="row">
          <div class="form-group col-md-12">
            <label>Rating</label>
            {{ form.rating }}
          </div>
        </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Comment</label>
          {{ form.comment }}
        </div>
      </div>

        <div class="row">
          <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

          <div class="form-check col-md-9" style="float:left">
            {{ form.anonymous }}
            <label>Post anonymously?</label>
          </div>

        </div>
      </div>
    </form>
    </div>
    <!-- {% else %}
    <div class="col-md-4">
        <h4>I'm sorry, you must purchase the book to review</h4>
    </div>
    {% endif %} -->
  {% else %}
  <div class="col-md-4">
    <h4>Must be logged in to review!</h4>
  </div>
  {% endif %}
{% endif %}
</html>
