{% load static %}
{% if book %}
<div>
<h1>Write a review for {{book.title}}</h1>
{% if user.is_authenticated %}
  {%if purchased %}
  <form method="post" class="col-md-4">
    <h3>Leave a Review</h3>
    {% csrf_token %}

    <div>
      <div class="row">
        <div class="form-group col-md-12">
          <label>Rating</label>
          {{ form.rating }}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Comment</label>
          {{ form.comment }}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="form-check col-md-9" style="float:left">
          {{ form.anonymous }}
          <label>Post anonymously?</label>
        </div>

      </div>
    </div>
  </form>
  {% else %}
  <div class="col-md-4">
    <h4>Purchase book to review!</h4>
  </div>
  {% endif %}
{% else %}
<div class="col-md-4">
  <h4>Must be logged in to review!</h4>
</div>
{% endif %}
{% endif %}
