body {
  background-color: white;
}

p {
  font-size: 15px;
  color: black;
  font-family: Arial;
}

div.comments {
  padding-left: 20px;
  padding-right: 100px;
}

div.comments-header {
  padding-left: 60px;
  font-family: Arial;
  padding-bottom: 20px;
}

div.panel-heading {
  background-color: white;
}
