.logo {
    color: #C25100;
	float: center;
	text-align: center;
}

.topnav {
    color: #C25100;
	float: center;
	text-align: center;
	padding-bottom: 100px;
}

.booktitle {
	 display:inline-block;
	 margin-left: 25px;
	 margin-top: 25px;
}

p {
	color: black;
	font-family: 'Lobster';
}