{% load static %}
<!DOCTYPE html>
<html>
      <head>
        <title>GeekText</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/admin/css/book.css' %}">
      </head>
      <div class="logo">
          <h1>GeekText</h1>
      </div>
      <div class="topnav">
	         <a href="{% url 'home' %}">Home</a>
	         <a>Search</a>
	         <a href="{% url 'item-list' %}">Shopping Cart</a>
	         <a href="{% url 'all_wish_list'%}">Wish List</a>
	         <a href="{% url 'profile_detail' %}">Log In | Sign Up</a>
      </div>