{% load static %}
<!DOCTYPE html>
<html>
      <head>
        <title>GeekText</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/admin/css/book.css' %}">
      </head>
      <div class="logo">
          <h1>GeekText</h1>
      </div>
      <div class="topnav">
	         <a href="{% url 'home' %}">Home</a>
	         <a>Search</a>
	         <a href="{% url 'item-list' %}">Shopping Cart</a>
	         <a href="{% url 'all_wish_list'%}">Wish List</a>
	         <a href="{% url 'profile_detail' %}">Log In | Sign Up</a>
      </div>
      <div class="details">
	       <img data-enlargable width="250" style="cursor: zoom-in" src="{{ book.cover.url}}" alt="{{ book.title }}"/>
      </div>
      <div class="contents">
	       <h3> {{book.title|capfirst }}</h3>
		   <p>Written By:  <a>{{book.author}}</a></p<
	        <div class="contents_overview">
		          {% if book.synopsis%}
			           <p>Overview: {{book.synopsis}}</p>
		          {% endif %}
		          {% if book.genre %}
			           <p>Genre: {{book.genre}}</p>
		          {% endif %}
		          <p>{{ book.publisher }}</p>
		          <p>Published on: {{book.published_date|date:"M D Y"}}</p>
		          <p>Product Details</p>
		          {% if book.condition %}
			           <p>Condition: {{book.condition}}</p>
		          {% endif %}
		          {% if book.type %}
			           <p>Format: {{book.type}}</p>
		          {% endif %}
		          <p>Page Count: {{book.pages }}</p>
		          {% if book.ISBN %}
			           <p>ISBN: {{book.ISBN}}</p>
		          {% endif %}
		          {% if book.dimensions %}
			           <p>Dimensions: {{book.dimensions}}</p>
		          {% endif %}


				  <a href= "{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
					Add to Cart!
					<i class="fas fa-shopping-cart ml-1"></i>
				</a>
              <a href="{% url 'add_to_list' book.id %}"><button class="contents_clicker">Add to Wishlist</Button></a>
	         </div>
        </div>
		
</html>
<script type="text/javascript">
$('img[data-enlargable]').addClass('img-enlargable').click(function(){
    var src = $(this).attr('src');
    $('<div>').css({
        background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
        backgroundSize: 'contain',
        width:'100%', height:'100%',
        position:'fixed',
        zIndex:'10000',
        top:'0', left:'0',
        cursor: 'zoom-out'
    }).click(function(){
        $(this).remove();
    }).appendTo('body');
});
</script>
