 {% load static %}
<html>
 <head>
        <title>GeekText</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<div class="topnav">
  <a>Home</a>
<a>Search</a>
<a>Shopping Cart</a>
<a>Wish List</a>
<a>Log In | Sign Up</a>
</div>
<div>
<ul>
  {%for book in books%}
  <div class="booktitle">
    <a href="{%url 'book_detail' book.id%}">
		<h1>{{ book.title|capfirst }}</h1>
	</a>
	<a href="{%url 'book_detail' book.id%}">
    <img src="{{ book.cover.url}}" alt="{{ book.title }}"/>
	</a>
	<p>{{ book.author}}</p>
	{%if book.genre %}
	<p>Genre:{{ book.genre}}</p>
	{% endif %}
	<p class="hidden">{{book.condition }}</p>
  </div>
  {% endfor %}
</ul>
</div>
</html>
